/* The Modal (background) */
.webcam-image img {
  max-width: 100%;
}
.webcam-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 1%; /* Location of the box */
  padding-bottom: 1%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 98%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.webcam-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.webcam-popup-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: none;
}

.webcam-popup-close:hover,
.webcam-popup-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
